@{
    ViewData["Title"] = "Sign in";
}

<h1>Hi! Please sign in</h1>
<p>Not registered? <a href="/account/register">Register here</a>.</p>

<form action="/account/signin" method="post">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="you@foo.com">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>