
@{
    ViewData["Title"] = "RegisterFailure";
}

<h1 class="text-danger">Uh oh, registration failed</h1>
<p>
    Error details: @ViewBag.FailureReason
</p>
<p>
    Try again? <a href="/account/register">Register</a> or <a href="/account/signin">sign in</a>.
</p>

