
@{
    ViewData["Title"] = "RegisterFailure";
}

<h1 class="text-danger">Uh oh, sign in failed</h1>
<p>
    Error details: @ViewBag.FailureReason
</p>
<p>
    Try again? <a href="/account/signin">Sign in</a> or <a href="/account/register">register</a>.
</p>

